<!DOCTYPE html>
<html lang="{block:English}en{/block:English}{block:French}fr{/block:French}{block:German}de{/block:German}{block:Japanese}ja{/block:Japanese}{block:Italian}it{/block:Italian}{block:Spanish}es{/block:Spanish}{block:Polish}pl{/block:Polish}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{Title}{block:PostSummary} &mdash; {PostSummary}{/block:PostSummary}</title>
	{block:Description}<meta name="description" content="{MetaDescription}">{/block:Description}
	<link rel="apple-touch-icon" href="{PortraitURL-128}">
	<link rel="shortcut icon" href="{Favicon}">
	<link rel="canonical" href="{block:IndexPage}{BlogURL}{/block:IndexPage}{block:PermalinkPage}{Permalink}{/block:PermalinkPage}">
	<link rel="alternate" type="application/rss+xml" href="{RSS}">
	{block:Hidden}
 		<!-- Custom theme options in the 'Hidden' block will not show when viewing the source code.
			https://www.tumblr.com/docs/en/custom_themes#theme-options
		 -->
 	{/block:Hidden}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="https://www.dropbox.com/s/4ou47pqrz5bt9vl/style.min.css?dl=1" type="text/css" media="all">
	<style type="text/css">
		/*Tumblr Global Appearance */
		body {background:{BackgroundColor};}
		h1 > a {color:{TitleColor};}
		a {color:{AccentColor}}
		{CustomCSS}
	</style>
</head>
<body>

	<header role="banner" class="header">
		{block:ShowAvatar}
			<a href="/"><img src="{PortraitURL-128}"></a>
		{/block:ShowAvatar}

		{block:ShowTitle}
			<h1 class="logo"><a href="/">{Title}</a></h1>
		{/block:ShowTitle}

		{block:HideTitle}
			<h1 class="logo text-hidden"><a href="/">{Title}</a></h1>
		{/block:HideTitle}

		{block:ShowDescription}
			{block:Description}
				<div class="description">
					{Description}
				</div>
			{/block:Description}
		{/block:ShowDescription}

		<nav role="navigation" class="primary-nav">
			<ul>
				{block:HasPages}{block:Pages}<li><a href="{URL}">{Label}</a></li>{/block:Pages}{/block:HasPages}
				<li><a href="/archive">{lang:Archive}</a></li>
				{block:AskEnabled}<li><a href="/ask">{AskLabel}</a></li>{/block:AskEnabled}
			</ul>
		</nav>
		<form class="search search-form" action="/search" method="get">
			<input type="search" placeholder="{lang:Search}" name="q" value="{SearchQuery}">
			<input type="submit" value="{lang:Search}">
		</form>

		{block:ShowHeaderImage}<div class="header-image"><img src="{HeaderImage}"></div>{/block:ShowHeaderImage}

	</header>

	<main role="main" class="content">
