{block:SearchPage}
<div class="result">
	<p>{lang:Found SearchResultCount results for SearchQuery 2}</p>
	{block:NoSearchResults}<p>{lang:No results for SearchQuery 2}</p>{/block:NoSearchResults}
</div>
{/block:SearchPage}
{block:TagPage}<div class="result"><p>{lang:TagResultCount posts tagged Tag 3}</p></div>{/block:TagPage}
